/* General Styles */
* {
  font-family: "Roboto", sans-serif; /* Puedes cambiar esto por Montserrat o cualquier otra fuente */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #2c2c2c;
  --text-color: #f3f6f5;
  --highlight-color: aqua;
  --azulCeleste: #00ffff;
  --azulNeon: #1e90ff;
  --azulElectrico: #7df9ff;
  --azulCian: #00bfff;
  --padding: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: var(--padding);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: var(--azulNeon);
  text-align: center;
}

.main-container {
  max-width: 800px;
  margin: auto;
  padding: 0 16px;
}

.search-form {
  text-align: center;
  margin-bottom: 24px;
}

.searchbox {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.search {
  width: 100%;
  padding: 10px 16px;
  border-radius: 4px;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--azulElectrico);
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

.search:focus {
  outline: none;
  box-shadow: 0 0 10px var(--azulCeleste); /* Efecto de foco tipo neón */
}

/* Weather Card */
.weather-card {
  display: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 480px;
}

/* City Information */
.city {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.date {
  font-size: 0.8rem;
  margin-bottom: 16px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.temp-img {
  width: 40px;
  margin-right: 10px;
}

.temp {
  font-size: 1.5rem;
  font-weight: bold;
}

.weather {
  font-size: 1.2rem;
}

.range {
  font-size: 1rem;
  margin-bottom: 16px;
}

/* Diseño general del botón */
button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Estilo específico para el botón de inversión de colores */
#toggle-colors {
  background-color: var(--azulNeon);
  color: var(--text-color);
  text-transform: uppercase;
  margin-top: 20px;
}

/* Efecto al pasar el mouse sobre el botón */
#toggle-colors:hover {
  background-color: var(--azulCian);
  color: var(--bg-color);
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  border-top: 1px solid gray;
  background-color: var(--bg-color);
  text-align: center;
  font-size: 0.8rem;
}
